* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.hide {
    display: none;
}

.gameArea {
    width: 600px;
    height: 100vh;
    background: #2D3E50;
    margin: auto;
    position: relative;
}